In [1]:
import yfinance as yf, numpy as np, datetime as dt, matplotlib.pyplot as plt
from scipy.stats import norm

Creating a list of tickers and weights to represent our portfolio.

In [9]:
tickers = ['AAPL','FB','GOOG','DIS','F','MSFT','AMD','GMS','TSLA','AMZN']
weights = np.array([0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1])

In [10]:
start = dt.datetime(2019,1,1)
end = dt.datetime.now()

df = yf.download(tickers, start, end)['Adj Close']
df

[*********************100%***********************]  10 of 10 completed

,AAPL,AMD,AMZN,DIS,F,FB,GMS,GOOG,MSFT,TSLA
Date,,,,,,,,,,
2019-01-02,38.382225,18.830000,1539.130005,107.654335,7.284280,135.679993,15.690000,1045.849976,97.961319,62.023998
2019-01-03,34.559071,17.049999,1500.280029,105.046211,7.173633,131.740005,15.560000,1016.059998,94.357529,60.071999
2019-01-04,36.034374,19.000000,1575.390015,108.286606,7.450252,137.949997,16.490000,1070.709961,98.746002,63.537998
2019-01-07,35.954170,20.570000,1629.510010,109.225136,7.643884,138.050003,17.559999,1068.390015,98.871971,66.991997
2019-01-08,36.639568,20.750000,1656.579956,110.074760,7.717649,142.529999,17.650000,1076.280029,99.588837,67.070000
...,...,...,...,...,...,...,...,...,...,...
2021-10-06,142.000000,103.639999,3262.010010,175.479996,14.120000,333.640015,44.770000,2747.080078,293.109985,782.750000
2021-10-07,143.289993,106.449997,3302.429932,177.710007,14.890000,329.220001,45.930000,2783.709961,294.850006,793.609985
2021-10-08,142.899994,105.059998,3288.620117,176.740005,15.120000,330.049988,45.310001,2801.120117,294.850006,785.489990
2021-10-11,142.809998,104.680000,3246.300049,173.520004,15.090000,325.450012,44.380001,2776.949951,294.230011,791.940002
2021-10-12,141.509995,105.040001,3247.330078,173.130005,15.640000,323.769989,44.700001,2734.260010,292.880005,805.719971

Next we will calculate the daily percentage change return.

In [11]:
returns = df.pct_change()
returns

,AAPL,AMD,AMZN,DIS,F,FB,GMS,GOOG,MSFT,TSLA
Date,,,,,,,,,,
2019-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-03,-0.099607,-0.094530,-0.025242,-0.024227,-0.015190,-0.029039,-0.008285,-0.028484,-0.036788,-0.031472
2019-01-04,0.042689,0.114370,0.050064,0.030847,0.038560,0.047138,0.059769,0.053786,0.046509,0.057697
2019-01-07,-0.002226,0.082632,0.034353,0.008667,0.025990,0.000725,0.064888,-0.002167,0.001276,0.054361
2019-01-08,0.019063,0.008751,0.016612,0.007779,0.009650,0.032452,0.005125,0.007385,0.007250,0.001164
...,...,...,...,...,...,...,...,...,...,...
2021-10-06,0.006307,0.017975,0.012732,0.004983,-0.011896,0.002042,-0.012789,0.008643,0.015064,0.002767
2021-10-07,0.009084,0.027113,0.012391,0.012708,0.054533,-0.013248,0.025910,0.013334,0.005936,0.013874
2021-10-08,-0.002722,-0.013058,-0.004182,-0.005458,0.015447,0.002521,-0.013499,0.006254,0.000000,-0.010232
2021-10-11,-0.000630,-0.003617,-0.012869,-0.018219,-0.001984,-0.013937,-0.020525,-0.008629,-0.002103,0.008211
2021-10-12,-0.009103,0.003439,0.000317,-0.002248,0.036448,-0.005162,0.007210,-0.015373,-0.004588,0.017400

In [12]:
cov_matrix = returns.cov()
cov_matrix

,AAPL,AMD,AMZN,DIS,F,FB,GMS,GOOG,MSFT,TSLA
AAPL,0.000480,0.000422,0.000271,0.000205,0.000205,0.000329,0.000304,0.000281,0.000333,0.000415
AMD,0.000422,0.001113,0.000346,0.000222,0.000236,0.000357,0.000355,0.000319,0.000384,0.000549
AMZN,0.000271,0.000346,0.000349,0.000129,0.000095,0.000270,0.000131,0.000228,0.000258,0.000332
DIS,0.000205,0.000222,0.000129,0.000483,0.000308,0.000198,0.000405,0.000208,0.000210,0.000229
F,0.000205,0.000236,0.000095,0.000308,0.000747,0.000164,0.000526,0.000183,0.000176,0.000322
FB,0.000329,0.000357,0.000270,0.000198,0.000164,0.000503,0.000240,0.000303,0.000298,0.000336
GMS,0.000304,0.000355,0.000131,0.000405,0.000526,0.000240,0.001307,0.000271,0.000272,0.000400
GOOG,0.000281,0.000319,0.000228,0.000208,0.000183,0.000303,0.000271,0.000356,0.000285,0.000308
MSFT,0.000333,0.000384,0.000258,0.000210,0.000176,0.000298,0.000272,0.000285,0.000378,0.000371
TSLA,0.000415,0.000549,0.000332,0.000229,0.000322,0.000336,0.000400,0.000308,0.000371,0.001794

In [13]:
avg_returns = returns.mean()
avg_returns

AAPL    0.002106
AMD     0.003006
AMZN    0.001241
DIS     0.000918
F       0.001460
FB      0.001495
GMS     0.002145
GOOG    0.001552
MSFT    0.001755
TSLA    0.004564
dtype: float64

In [14]:
count = returns.count()[0]
count

AAPL    700
AMD     700
AMZN    700
DIS     700
F       700
FB      700
GMS     700
GOOG    700
MSFT    700
TSLA    700
dtype: int64

Construct the Normal Distribution Curve - using the scipy.stats library
W - Weights
WT - Weights transposed
Expected portfolio variance = WT * (Covariance Matrix) * W

In [15]:
port_mean = avg_returns @ weights
port_std = np.sqrt(weights.T @ cov_matrix @ weights)

In [18]:
port_mean

0.0020242169746784704

In [17]:
port_std

0.01829994731047487

In [ ]:
x = np.arange(-0.05, 0.06, 0.001)
norm_dist = norm.pdf(x, port_mean, port_std)

plt.plot(x, norm_dist, color = 'r')
plt.show()

In [22]:
confidence_level = 0.05

VaR = norm.ppf(confidence_level, port_mean, port_std)
VaR

-0.028076517731976967

The `VaR` above states that with 95% confidence, we will not lose more than 2.8% of our portfolio in one day.

In [23]:
num_days = 5
VaR * np.sqrt(num_days)

-0.06278100222017872

This value states that in 5 days, I am 95% confident that our portfolio will not lose more than 6.2%.

In [26]:
#Calculating the 95% confidence interval
lower = port_mean - 2 * port_std / np.sqrt(count)
higher = port_mean + 2 * port_std / np.sqrt(count)
print(lower[0],higher[0])

0.0006408709864184187 0.003407562962938522